<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>The man with a new idea is a crank until the idea succeeds (Mark Twain)</h1>
                        <a href="#portfolio" class="btn btn-outline btn-xl page-scroll">Check out our ideas!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
