---
layout: default
comments: true
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row" style="text-align: justify;">
        <! -- SINGLE POST -->
        <div class="col-lg-8 col-lg-offset-2">
            <! -- Blog Post  -->
            <p>
                {% if page.img  %}
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
                {% endif %}
            </p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
                        <p>
                <ul class="tags">
                    {% for tag in page.tags %}
                        <li><a href="/blog/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </p>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>

            {{ content }}

            <div class="spacing"></div>
            <!-- <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p> -->
        </div><! --/col-lg-8 -->
        
{% include disqus.html %}

    </div><! --/row -->



</div><! --/container -->

